#app-holder{
  margin-top:16px;
}

.page{
  text-align:center;
}

#btn-search{
  margin-top:8px;
}

small.address {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  max-width:100%;
}

.table td.constrained {
  max-width: 170px;
}

.table td.constrained span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  max-width: 100%;
}